<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<ion-grid [fixed]="true">
<ion-row>
<ion-col>
 <ion-card color="primary">
 <img class="imagenes" alt="foto" src="https://elcomercio.pe/resizer/SQtFlL-JUPmqnKnxL93hRc1E2Ms=/620x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/FVY5XZYGP5HJTOB5QCGHCMK25E.png"> 

  <ion-card-content> Card Content </ion-card-content>
</ion-card>
</ion-col>

<ion-col>
<ion-card color="secondary">
  <img class="imagenes" alt="peli" src="https://hips.hearstapps.com/hmg-prod/images/65-1673968902.jpg">

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

</ion-col>

<ion-col>
<ion-card color="tertiary">
  <img class="imagenes" alt="jhon weet" src="https://as01.epimg.net/epik/imagenes/2019/06/03/portada/1559573314_873311_1559575720_noticia_normal.jpg">

  <ion-card-content> Card Content </ion-card-content>
</ion-card>
</ion-col>

</ion-row>
</ion-grid>


<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-card color="success">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card color="warning">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>

    </ion-col>

    <ion-col>
      <ion-card color="danger">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card color="medium">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>

    </ion-col>

    <ion-col>
      <ion-card color="dark">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

</ion-content>